VITE_BACKEND_URL=http://localhost:3000
PORT=3000
DATABASE_URL=postgres://postgres:postgres@postgres:5432/bones
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
TRUSTED_ORIGINS=http://app.localhost:5173
